.navbar{
   display: flex;
    width: 100%;
    /* margin-left: 60px; */
    /* background-color: #8da9c4; */
    background-color: #a9d6e5;
    /* margin: 0;
    padding: 0; */
    /* margin-bottom: 10px; */
 
   
}
.triangle {
    width: 100%;

	border-left: 700px solid transparent;
	border-right: 700px solid transparent;
	border-top: 15px solid  #a9d6e5;
    margin-bottom: 10px;
}

/* .offcanvas{
    background-color: blueviolet;
} */
.copyright{
    justify-content: center;
    align-items: center;
}

.navs{
    display: grid;
    align-items: center; 
    margin-top: 30px;
    row-gap: 20px;
    
}

.offcanvas{
    background-color: aqua;
}

.welcome {
    display: grid;
    /* grid-template-columns: 150px 150px;
    gap: 20px; */
    justify-content: start;
    /* justify-content: flex-start; */
    /* margin-right: 40px; */
    padding:10px;
    width:8%;
    font-family: 'Alumni Sans Inline One', cursive;
    margin-right: 12px;
    

}
.name{
    width: 100%;
    display: grid;
    color: rgb(10, 6, 95);
    justify-content: center;
    grid-template-columns: 56px 250px;
    font-size: 50px;
    height: 90%;
  margin-bottom: 0;
  font-family: 'Coda', cursive;
  font-weight: 900;
    /* justify-content: flex-start; */
}

.nameContainer{
    width: 83%;
    margin-left: 15px;
}

.logoutSign{
    font: bolder;
    font-size: x-large;
    font-weight:bolder;
    color:  rgb(75, 39, 182);
}
.logoutSign:hover{
     color: rgb(177, 8, 42);
}

.triviaMenu{
    font-weight:900;
    padding: 15px;
    font-family: 'Coda', cursive;
    color:  rgb(42, 16, 120);;

}
.navButton {
    background-color: rgb(54, 19, 158);
    width: 80%;
    border: 1px groove rgb(110, 106, 106);
    border-radius: 10px;
    font-family: 'Coda', cursive;
}
.navButton:hover{
    background-color: rgb(177, 8, 42);
}

.links {
    display: grid;
    justify-content: center;
    color: rgb(245, 242, 237);
}

.signoutContainer{
    margin-top: 30px;
    width: 80%;
    display: grid;
    justify-content: center;
   
}

.statusNav{
    font-family: 'Alumni Sans Inline One', cursive;
    font-size: 25px;
    color: rgb(10, 6, 95);
}
.userNav{
    /* font-family: 'Alumni Sans Inline One', cursive; */
    font-family: 'Rampart One', cursive;
    font-size: 25px;
    font-weight: 800;
    color: rgb(10, 6, 95);
    
}
.offUser{
    /* font-family: 'Alumni Sans Inline One', cursive; */
    font-family: 'Rampart One', cursive;
    font-size: 35px;
    color: rgb(45, 12, 142);
}

.navToggleButton{
   margin-left: 20px;
   width: 5%;
   background-color: #a9d6e5;
   color: #0a065f;


}
.navToggleButton:hover {
    color:rgb(177, 8, 42)
}

@media  (max-width: 480px) {
   
}
@media (max-width: 767px ){

   
}


